  .main-header {
      background: #ff4d00;
      /* orange */
      padding: 15px 0;
      border-bottom: 4px solid #fff;
  }

  .header-container {
      max-width: 1300px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
  }

  .logo img {
      height: 64px;
  }

  .navbar ul {
      list-style: none;
      display: flex;
      gap: 35px;
      margin: 0;
      padding: 0;
  }

  .navbar ul li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 600;
      font-size: 15px;
  }

  .language {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      position: relative;
  }

  .language .lang-icon {
      margin-right: 6px;
      font-size: 18px;
  }

  .language .arrow {
      margin-left: 4px;
      font-size: 12px;
  }

  .hero-section {
       padding: 50px 0;
    background-image: url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .hero-wrapper {
      max-width: 1706px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
  }

  /* LEFT IMAGE */
  .hero-image {
      width: 50%; 
      /* background-image: url("assets/images/hero_bg.png"); your left-side showroom image */
      background-size: cover;
      background-position: center;
      border-radius: 5px;
  }

  /* FORM CONTAINER */
  .hero-form {
      width: 45%;
      background: #fff;
      padding: 35px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      border-radius: 6px;
  }

  .hero-form h2 {
      font-size: 26px;
      text-align: center;
      margin: 0;
  }

  .hero-form p {
      text-align: center;
      font-size: 14px;
      color: #666;
  }

  .hero-form hr {
      margin: 20px 0;
      border: none;
      border-top: 1px solid #eaeaea;
  }

  /* Inputs */
  form input,
  form textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
  }

  .form-row {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
  }

  .form-row textarea {
      height: 100px;
      resize: none;
  }

  .submit-btn {
      width: 100%;
      padding: 12px;
      background: #ff4d00;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
  }

  .submit-btn:hover {
      opacity: 0.9;
  }

  .bg-patterns {
      background-image: url(assets/images/patterns.png);
      border-radius: 5px;
      background-repeat: repeat;
  }

  /* slider section  */
  .product-portfolio {
      padding: 50px 0;
      text-align: center;
  }

  .portfolio-title {
      font-size: 34px;
      font-weight: 700;
  }

  .product-slider .item {
      position: relative;
  }

  .product-slider img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1
  }

  .product-title {
      background: #f3f3f3;
      padding: 12px 0;
      font-size: 18px;
      font-weight: 600;
      color: #ff4d00;
      position: absolute;
      bottom: -25px;
      left: 50%;
      right: 0px;
      width: 78%;
      transform: translateX(-50%);
  }

  .wrapper {
      max-width: 1600px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
  }

  .owl-carousel .owl-stage-outer {
      overflow: unset !important
  }


  @media (max-width: 768px){
    .navbar ul{
        display: none;
    }
    .logo img {
        height: 30px;
    }

    .hero-wrapper { 
        flex-direction: column;
    }
    .hero-image {
        width: 100%;
    }
    .hero-form {
        width: 100%;
    }
  }